.section-main{
    min-height: 800px;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        min-height: 1024px;
        img{
            height: 101px;
            width: 65px;
        }
        h2{
            font-family: $nikoleta-fonts;
            position: relative;
            font-size: 40px;
            line-height: 41px;
            letter-spacing: 0.2em;
            color: $white;
            padding-bottom: 20px;
        }
        .section-main__title-decor-top::before{
                content: "";
                position: absolute;
                right: -55px;
                top: -350px;
                width: 253px;
                height: 305px;
                background-image: url('../../assets/images/spray-top.png');
                @include backgroundImageSnipet;
            }
        .section-main__title-decor-bottom::after{
                content: "";
                position: absolute;
                left: -55px;
                top: 270px;
                width: 366px;
                height: 276px;
                background-image: url('../../assets/images/spray-bottom.png');
                @include backgroundImageSnipet;
            }
    }
}

.briefly-about{
    padding: 0px 0 60px;
    position: relative;
    &__title{
        position: relative;
        padding-bottom: 116px;
        z-index: 5;
        line-height: 41px;
        font-size: 40px;
        letter-spacing: 0.2em;
        margin-top: 50px;
        margin-left: 15px;
        &::before{
            content: "";
            position: absolute;
            left: -26px;
            top: -30px;
            z-index: -1;
            width: 660px;
            height: 108px;
            background-image: url('../../assets/images/image-back.png');
            @include backgroundImageSnipet;
        }
    }

    &__text{
        line-height: 60px;
        letter-spacing: 0.15em;
        font-size: 30px;
        position: relative;
        padding-bottom: 259px;
    }
    .phone-btn{
        position: fixed;
        bottom: 0;
        right: 0;
    }
    &__text-decor-top::before{
        content: "";
        position: absolute;
        right: 0;
        top: -190px;
        width: 162px;
        height: 178px;
        background-image: url('../../assets/images/briefly-about-decor-top.png');
        @include backgroundImageSnipet;
    }
    &__text-decor-bottom::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 25px;
        width: 265px;
        height: 234px;
        background-image: url('../../assets/images/briefly-about-decor-bottom.png');
        @include backgroundImageSnipet;
    }
}