.section-main{
    min-height: 735px;
    @include backgroundImageSnipet;
    &__logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 15px);
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        min-height: 800px;
        h2{
            font-family: $nikoleta-fonts;
            max-width: 730px;
            position: relative;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 0.2em;
            color: $white;
            padding-bottom: 20px;
        }
    }
}

.briefly-about{
    padding: 0px 0 60px;
    position: relative;
    &__title{
        position: relative;
        padding-bottom: 116px;
        z-index: 5;
        line-height: 41px;
        font-size: 40px;
        letter-spacing: 0.2em;
        margin-top: 50px;
        margin-left: 15px;
    }

    &__text{
        line-height: 60px;
        letter-spacing: 0.15em;
        font-size: 30px;
        position: relative;
        padding-bottom: 259px;
    }
    .phone-btn{
        position: fixed;
        bottom: 0;
        right: 0;
    }
}