.footer{
    background-color: $black;
    padding: 48px 0 48px;
    font-size: 25px;
    &__text{
        font-family: $nobile-fonts;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
}