    .header__menu-link{
        font-family: $nikoleta-fonts;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.2em;
        color: $white;
    }
    .header__menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 350px;
        height: 50px;
        background-color: $black;
    }
    .header__menu-item + .header__menu-item{
        margin-top: 148px;
    }
    .menu-part{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 10px 5px 10px 10px;
        border-style: solid;
        border-color: $black;
        width: 50%;
        position: absolute;
        top: 0;
        height: 100vh;
        background-color: $burger-bg;
        transition: all .4s ease-in;
    }

    .header__btn-close{
        transition: top .4s ease-out;
        position: absolute;
        z-index: 40;
        top: -200%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $black;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0.2em;
        width: 300px;
        height: 75px;
        font-family: $cherryBomb-fonts;
    }

    .header__btn-close--active{
        top: 25px;
    }

    .right-part{
        right: -100%;
        opacity: 0;
        overflow: hidden;
    }

    .left-part{
        left: -100%;
        opacity: 0;
        overflow: hidden;
    }

    .open.right-part{
        right: 0;
        opacity: 1;
        overflow: visible;
    }

    .open.left-part{
        left: 0;
        opacity: 1;
        overflow: visible;
    }

    .logo-burger{
        position: absolute;
        z-index: 20;
        top: 50%;
        transform: translate(0, -50%);
    }

    .logo-left-part{
        right: -14.5px;
    }


    .logo-right-part{
        left: -0.5px;
    }

