.sticky{
    position: fixed;
    z-index: 10;
    margin-right: -598px;
    position: fixed;
    right: 50%;
    bottom: 89px;
    cursor: pointer;
}

.stop{
    position: absolute;
    z-index: 10;
    margin-right: -598px;
    position: fixed;
    right: 50%;
    bottom: 89px;
    cursor: pointer;
}

// .phone-arrow{
//     position: fixed;
//     z-index: 10;
//     margin-right: -420px;
//     position: fixed;
//     right: 50%;
//     bottom: 89px;
// }