body{
    overflow-x: hidden;
    color: $white;
    font-family: $nikoleta-fonts;
    font-size: 40px;
}

.main{
    min-height: 1024px;
    padding-top: 112px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    max-width: 1270px;
    padding: 15px;
    margin: 0 auto;
}