html,
body{
    height: 100%;
}

html{
    overflow-x: hidden;
}

.no-scroll{
    overflow: hidden;
}

body{
    color: $white;
    font-family: $nikoleta-fonts;
    font-size: 20px;
}

.main{
    flex-grow: 1;
}

.container{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.text-turquoise{
    color: $turquoise-color;
}