@font-face { 
    font-family: "Nikoleta";
    src: url('../../assets/fonts/Nikoleta_1.woff2') format("woff2"), 
         url('../../assets/fonts/Nikoleta_1.woff') format("woff"), 
         url('../../assets/fonts/Nikoleta_1.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face { 
    font-family: "Caveat";
    src: url('../../assets/fonts/Caveat-Regular.woff2') format("woff2"), 
         url('../../assets/fonts/Caveat-Regular.woff') format("woff"), 
         url('../../assets/fonts/Caveat-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}